<script setup>
defineProps({
  products: {
    type: Array,
    required: true
  }
  })
</script>
<template>
  <div>
    <h1>Products</h1>
    <ul
      class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <div v-for="product in products" :key="product.name" class="w-64 h-64 bg-white rounded-lg shadow-lg overflow-hidden relative"
  >
      <span class="absolute top-0 right-0 text-white mt-2 mr-2">${{ product.price }}</span>
      <img
        class="h-48 w-full object-cover"
        :src="product.image"
        :alt="product.name"
      />
      <div class="p-2">
          <h3 class="text-gray-700 uppercase font-semibold">{{ product.name }}</h3>
          <p class="text-gray-600 mt-2 text-sm">
            {{ product.description }}
          </p>
        </div>
      </div>
    </ul>
  </div>
</template>
