<script setup>
import Product from './components/Product.vue'
const products = [
{
  name: 'Clock',
  price: 100,
  description: 'This is a product',
  image: 'https://picsum.photos/200/300'
},
{
  name: 'Pants',
  price: 200,
  description: 'This is a product 2',
  image: 'https://picsum.photos/200/300'
},
{
  name: 'Shorts',
  price: 300,
  description: 'This is a product 2',
  image: 'https://picsum.photos/200/300'
}
]
</script>

<template>
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <Product :products="products" />
  </div>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
